CREATE TABLE public.phrases (\n    id uuid DEFAULT gen_random_uuid() NOT NULL,\n    user_id uuid NOT NULL,\n    phrase_text text NOT NULL,\n    context_sentence text NOT NULL,\n    created_at timestamp with time zone DEFAULT now() NOT NULL,\n    CONSTRAINT phrases_pkey PRIMARY KEY (id),\n    CONSTRAINT phrases_user_id_phrase_text_key UNIQUE (user_id, phrase_text),\n    CONSTRAINT phrases_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth.users(id) ON DELETE CASCADE\n);\n\nALTER TABLE public.phrases ENABLE ROW LEVEL SECURITY;\n\nCREATE POLICY 
Users
can
manage
their
own
phrases. ON public.phrases\n    FOR ALL USING (auth.uid() = user_id) WITH CHECK (auth.uid() = user_id);
